# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

*.iml
.idea/**

.grunt/**
.settings/**
.project
node_modules/**
**/node_modules/
**/bower_components/

target/
dist/

_SpecRunner.html
*~
